<footer class="major">
  <ul class="actions special">
    <li><a class="button" href="{% url 'contacto' %}">Contactanos</a></li>
  </ul>
</footer>
<footer id="footer">
  <ul class="icons">
    <li>
      <a class="icon brands alt fa-twitter" href="#"
        ><span class="label">Twitter</span></a
      >
    </li>
    <li>
      <a class="icon brands alt fa-facebook-f" href="#"
        ><span class="label">Facebook</span></a
      >
    </li>
    <li>
      <a class="icon brands alt fa-linkedin-in" href="#"
        ><span class="label">LinkedIn</span></a
      >
    </li>
    <li>
      <a
        class="icon brands alt fa-instagram"
        href="https://www.instagram.com/avance_libertariocutralco/?igshid=YmMyMTA2M2Y%3D"
        ><span class="label">Instagram</span></a
      >
    </li>
    <li>
      <a class="icon brands alt fa-github" href="#"
        ><span class="label">GitHub</span></a
      >
    </li>
    <li>
      <a class="icon solid alt fa-envelope" href="#"
        ><span class="label">Email</span></a
      >
    </li>
    <li>
      <a
        class="icon brands alt fa-tiktok"
        href="http://tiktok.com/@viva_lalibertadcarajo"
        ><span class="label">TikTok</span></a
      >
    </li>
  </ul>

  <ul class="copyright">
    <li>© Avanza Libertad Cutral-Có. Todos los derechos reservados.</li>
    <li>
      Dev Contact: <a href="http://html5up.net">Godoypablojuan@gmail.com</a>
    </li>
  </ul>
</footer>
