<header id="header">
  <header id="header">
    <h1 id="logo"><a href="{% url 'index' %}">Avanza Libertad</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li>
          <a href="{% url 'quienes_somos' %} ">¿Quienes somos?</a>
          <ul>
            <li><a href="{% url 'propuesta' %}">Nuestra Propuesta</a></li>
            <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a></li>
            <li><a href="{% url 'calendar' year=2023 month=9 %}">Eventos</a></li>
            <li><a href="{% url 'donaciones' %}">Donaciones</a></li>
          </ul>
        </li>
        <li><a href="{% url 'noticias' %}">Noticias</a></li>
        <li><a class="button primary" href="#">Suscribite</a></li>
      </ul>
    </nav>
  </header>
  
